<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :article_title %>
  </div>

  <div class="field">
    <%= form.label :authors %>
    <%= form.text_field :authors, id: :article_authors %>
  </div>

  <div class="field">
    <%= form.label :abstract %>
    <%= form.text_field :abstract, id: :article_abstract %>
  </div>

  <div class="field">
    <%= form.label :doi %>
    <%= form.text_field :doi, id: :article_doi %>
  </div>

  <div class="field">
    <%= form.label :journal %>
    <%= form.text_field :journal, id: :article_journal %>
  </div>

  <div class="field">
    <%= form.label :volume %>
    <%= form.text_field :volume, id: :article_volume %>
  </div>

  <div class="field">
    <%= form.label :issue %>
    <%= form.text_field :issue, id: :article_issue %>
  </div>

  <div class="field">
    <%= form.label :page %>
    <%= form.text_field :page, id: :article_page %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
