<%= stylesheet_link_tag "articles.css" %>

<p id="notice"><%= notice %></p>


<div class="container">
  <div class="row">
    <div class="col-lg-3 info-block">
      <div class="card">
        <div class="card-body">
          <p>Doi: <%= @article.doi %></p>
          <p>Journal: <%= @article.journal %></p>
          <p>Volum: <%= @article.volume %></p>
          <p>Utgave: <%= @article.issue %></p>
          <p>Side: <%= @article.page %></p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <h2><%= @article.title %></h2>
      <p><%= @article.authors %></p>
      <p><%= @article.abstract %></p>
    </div>
    <div class="col-lg-3">
      <a href="/articles/new" class="btn btn-primary article_upload_button" style="float:right;">Last opp artikkel</a>
      <div class="card statistics-card">
        <div class="card-body">
          <p>Antall ganger lest: </p>
          <p>Stjerner: </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6">
      <iframe src="<%= @article.document %>" style="width: 100%; height: 40em;"></iframe>
    </div>
    <div class="col-lg-3">
    </div>

  </div>
</div>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
