<%= stylesheet_link_tag "articles.css" %>

<p id="notice"><%= notice %></p>


<div class="container">
  <div class="row">
    <div class="col-3 info-block">
      <div class="card">
        <div class="card-body">
          <p>Forfattere: <%= @article.authors %></p>
          <p>Doi: <%= @article.doi %></p>
          <p>Journal: <%= @article.journal %></p>
          <p>Volum: <%= @article.volume %></p>
          <p>Utgave: <%= @article.issue %></p>
          <p>Side: <%= @article.page %></p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <h2><%= @article.title %></h2>
      <p><%= @article.abstract %></p>
    </div>
    <div class="col-3">
    </div>
  </div>

  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-8">
      <iframe src="<%= @article.document %>" style="width: 100%; height: 40em;"></iframe>
    </div>
    <div class="col-2">
    </div>

  </div>
</div>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
