
<p><%= current_user.first_name %> <%= current_user.last_name %></p>
<p><%= current_user.title %></p>
<p><%= current_user.workcommune %></p>
<p><%= current_user.email %></p>
<p><%= current_user.competance %></p>
<p><%= current_user.workplace %></p>
<p><%= current_user.method %></p>