
<p><%= @user.first_name %> <%= @user.last_name %></p>
<p><%= @user.title %></p>
<p><%= @user.workcommune %></p>
<p><%= @user.email %></p>
<p><%= @user.competance %></p>
<p><%= @user.workplace %></p>
<p><%= @user.method %></p>
<% @articles.each do |article| %>
<%= link_to article.title, article_path %>
<%end%>